.header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-nav {
    width: 50vw;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item {
    width: 20%;
}

.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

