.heading {
    color: #ffffff;
}

.category-list {
    margin: 5vh 0;
}

.projects {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-content: space-between;
    grid-gap: 2vmin;
}

