.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* header */
  /* background-color: #24252F;  */
  /* main */
  background-color: #31313F;
  /* footer */
  /* background-color: #242530; */
}

.header {
  position: sticky;
  width: 100vw;
}

.main {
  width: 80vw;
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
